.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fca311;
  border: 1px solid #fca311;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #f29602;
  border-color: #f29602;
}
